.loginArea {
    margin-top: 20vh;
    margin-bottom: 20vh;
}
.loginArea .header {
  margin-bottom: 50px;
  text-align: center;
}
.login-form .email,
.login-form .password {
  width: 90%;
  margin: 20px 0px;
}

.loginArea .login-form {
  width: 50em;
  height: 20em;
  padding: 5% 3%;
  padding-bottom: 2%;
  box-shadow: 10px 30px 60px #cdd0d3;
}
/****************************************************************************/

.frontPage {
  display: none;
  margin-top: 0px ;
}
.c1 {
  background-color: #772f1a;
  background-image: linear-gradient(-315deg, #772f1a 0%, #f2a65a 74%);
}
.c2 {
  background-color: #6b0f1a;
  background-image: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%);
}
.c3 {
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
}
.card-small {
  background-color: tomato;
  margin: 5%;
  width: 20em;
  height: 8em;
  padding: 2% 1%;
  border-radius: 10px;
  color: white;
  font-weight: 600;
}

.card-large1,
.card-large2 {
  background-color: tomato;
  margin: 5%;
  width: 40em;
  height: 200px;
  padding: 2% 1%;
  border-radius: 10px;
  color: white;
  font-weight: 600;
}
.card-large1 {
  background-color: #9e8fb2;
  background-image: linear-gradient(315deg, #9e8fb2 0%, #a7acd9 74%);
  color: black;
}
.card-large2 {
  background-color: #ebbe9b;
  background-image: linear-gradient(315deg, #ebbe9b 0%, #e7a977 74%);
  color: black;
}
.card-large1 input,
.card-large2 input {
  background-color: rgb(255, 255, 255);
  outline: none;
  border: none;
  margin: 30px 0px;
  width: 30em;
  font-size: 15px;
  padding: 7px 0px;
  border-radius: 5px;
}
